In [1]:
import pandas as pd
import re, os
# 자신의 파일을 불러옵니다. 
df = pd.read_csv("apt.csv", encoding = 'cp949')

# idle에서는 print를 붙이지 않아도 출력되지만, 프로그램에서는 print를 붙여주지 않으면 화면상에 아무런 결과물이 나타나지 않기 때문에 책과 다르게 print 명령어를 해주었습니다. 
# 자료 수 
print(len(df))

42758

In [4]:
# 자료 파악하기
print(df.head(),"\n\n\n")
print(df.tail())

            지역   번지   본번  부번           아파트       면적    계약년월  계약일     가격   층  \
0  강원도 강릉시 견소동  202  202   0          송정한신   59.800  201910    4  10900   5
1  강원도 강릉시 견소동  202  202   0          송정한신  116.175  201910   31  18500  10
2  강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.990  201910    5  25000   6
3  강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.990  201910   12  20600   3
4  강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.990  201910   20  20500   1

   건축년도           도로명
0  1997   경강로2539번길 8
1  1997   경강로2539번길 8
2  2005  경강로2539번길 22
3  2005  경강로2539번길 22
4  2005  경강로2539번길 22



                 지역      번지   본번  부번         아파트     면적    계약년월  계약일     가격  \
42753  충청북도 충주시 호암동   547-6  547   6        호반현대  59.76  201910   29   7000
42754  충청북도 충주시 호암동  221-23  221  23  호암리버빌(1단지)  84.68  201910    5  12000
42755  충청북도 충주시 호암동  221-23  221  23  호암리버빌(1단지)  84.68  201910   15  11000
42756  충청북도 충주시 호암동  221-23  221  23  호암리버빌(1단지)  84.68  201910   17  12000
42757  충청북도 충주시 호암동  221-23  221  23  호암리버빌(1단지)  84.68  201910   26  11200

        층  건축년도       도로명
42753   3  1994   신촌2길 28
42754  15  2002  원호암5길 32
42755   7  2002  원호암5길 32
42756  14  2002  원호암5길 32
42757  11  2002  원호암5길 32

In [5]:
# 특정 열 출력하기 
print(df.지역)

0         강원도 강릉시 견소동
1         강원도 강릉시 견소동
2         강원도 강릉시 견소동
3         강원도 강릉시 견소동
4         강원도 강릉시 견소동
             ...
42753    충청북도 충주시 호암동
42754    충청북도 충주시 호암동
42755    충청북도 충주시 호암동
42756    충청북도 충주시 호암동
42757    충청북도 충주시 호암동
Name: 지역, Length: 42758, dtype: object

In [6]:
# 면적 130㎡이상, 가격이 1억5천만원 미만인 아파트 단지명 출력하기
print(df.아파트[(df.면적 > 130) | (df.가격 < 15000)])

0               송정한신
6        강릉교동롯데캐슬1단지
35               서일2
36                한신
37                현대
            ...
42753           호반현대
42754     호암리버빌(1단지)
42755     호암리버빌(1단지)
42756     호암리버빌(1단지)
42757     호암리버빌(1단지)
Name: 아파트, Length: 11499, dtype: object

In [8]:
#4억 원 이상의 가격으로 거래된 아파트
print(df.loc[:, ['아파트', '가격']] [df.가격 > 40000])
# 단가 구하기, 미립자 꿀팁, 판다스 활용할 때 df.가격 과 df['가격']이 거의 똑같은 의미를 가지지만 새로운 열을 생성할 때 df.가격 과 같은 형태로 생성하면 오류가 난다. 
# 아래와 같이 df['단가']라고 해야 새로운 열을 만들 수 있음: 책에는 이런 형태로 새로운 열을 만들었지만, df.단가 라고 하면 오류가 나온다는 말이 없음.

                  아파트     가격
382          속초청호아이파크  45800
541          무실e-편한세상  44600
592          원주반곡아이파크  40700
842    온의 롯데캐슬 스카이클래스  44000
843    온의 롯데캐슬 스카이클래스  42900
...               ...    ...
42364       신영지웰시티 1차  47700
42365       신영지웰시티 1차  46000
42366       신영지웰시티 1차  55800
42367       신영지웰시티 1차  67000
42424          봉명아이파크  49000

[10486 rows x 2 columns]

In [9]:
df['단가']= df.가격/df.면적
# 가격 면적 단가 10개 출력해보기
print(df.loc[:10, ('가격', '면적', '단가')])

       가격        면적          단가
0   10900   59.8000  182.274247
1   18500  116.1750  159.242522
2   25000   84.9900  294.152253
3   20600   84.9900  242.381457
4   20500   84.9900  241.204848
5   29200   84.9964  343.543962
6   34300  135.1727  253.749463
7   32500  118.0686  275.263703
8   16200   59.8900  270.495909
9   21550   84.8400  254.007544
10  21800   84.8400  256.954267

In [10]:
# 가격 오름차순 정렬하기
print(df.sort_values(by='가격').loc[:,('가격','지역')])

           가격                지역
17024     600      경상북도 구미시 원평동
17022     700      경상북도 구미시 원평동
17637     750  경상북도 칠곡군 약목면 관호리
17031     800      경상북도 구미시 원평동
17027     800      경상북도 구미시 원평동
...       ...               ...
27036  373000     서울특별시 강남구 대치동
26805  376640     부산광역시 해운대구 우동
29946  415000     서울특별시 서초구 반포동
27061  461000     서울특별시 강남구 도곡동
31258  485000     서울특별시 용산구 한남동

[42758 rows x 2 columns]

In [11]:
# 25억 넘는 아파트만 출력하기
print(df[df.가격 > 250000].sort_values(by = '계약일').loc[:,('가격','면적','계약일')])

           가격        면적  계약일
30719  308000  151.0080    1
27031  300000  149.7800    2
30041  295000  135.9700    2
27105  310000  152.3900    2
30008  261000  220.5500    3
31158  259000  162.7100    4
27110  355000  144.2000    4
27104  265000  110.8200    5
29944  290000   84.9700    7
27079  290000  170.0100    8
27034  345000  145.8300    9
29945  340000   84.9500    9
27108  349000  144.2000    9
4703   262000  139.7268   12
29941  350000  165.0520   12
35826  300000  291.3360   12
27035  325000  121.7400   12
27009  270000   50.6400   12
31226  289998  124.0200   14
27142  300000  236.4200   14
29935  285000  112.9500   14
27037  277000   84.9700   14
29946  415000  129.9200   14
26805  376640  209.8332   16
30038  288000  104.0800   16
27109  350000  144.2000   18
27080  259000   96.3200   18
30044  285000   98.4500   19
27038  275000   91.9300   20
31258  485000  233.0620   24
27061  461000  210.5000   24
27036  373000  161.4700   29
27069  284000  176.0760   31

In [12]:
# 강릉 아파트만 출력
print(df[df.지역.str.find('강릉') > -1])

              지역   번지   본번  부번           아파트        면적    계약년월  계약일     가격  \
0    강원도 강릉시 견소동  202  202   0          송정한신   59.8000  201910    4  10900
1    강원도 강릉시 견소동  202  202   0          송정한신  116.1750  201910   31  18500
2    강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.9900  201910    5  25000
3    강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.9900  201910   12  20600
4    강원도 강릉시 견소동  289  289   0  송정해변신도브래뉴아파트   84.9900  201910   20  20500
..           ...  ...  ...  ..           ...       ...     ...  ...    ...
183  강원도 강릉시 회산동  608  608   0  강릉서희스타힐스리버파크   84.8956  201910   24  24000
184  강원도 강릉시 회산동  130  130   0      힐스테이트 강릉   84.9925  201910    7  24000
185  강원도 강릉시 회산동  130  130   0      힐스테이트 강릉   74.9974  201910   19  23000
186  강원도 강릉시 회산동  130  130   0      힐스테이트 강릉   74.9985  201910   21  24100
187  강원도 강릉시 회산동  130  130   0      힐스테이트 강릉   74.9974  201910   29  25400

      층  건축년도           도로명          단가
0     5  1997   경강로2539번길 8  182.274247
1    10  1997   경강로2539번길 8  159.242522
2     6  2005  경강로2539번길 22  294.152253
3     3  2005  경강로2539번길 22  242.381457
4     1  2005  경강로2539번길 22  241.204848
..   ..   ...           ...         ...
183  10  2017       회산로 344  282.700163
184   3  2018   회산로383번길 37  282.377857
185  15  2018   회산로383번길 37  306.677298
186   6  2018   회산로383번길 37  321.339760
187  13  2018   회산로383번길 37  338.678408

[188 rows x 13 columns]

In [13]:
# 강릉 아파트만 출력하여 각 변수 평균 출력
dfF = df[df.지역.str.find('강릉') > -1]
print(dfF.mean())

본번               inf
부번      1.085106e+00
면적      7.047780e+01
계약년월    2.019100e+05
계약일     1.527128e+01
가격      1.541457e+04
층       7.420213e+00
건축년도    2.000463e+03
단가      2.099422e+02
dtype: float64

In [15]:
import pandas as pd
import re, os
# 자신의 파일을 불러옵니다. 
df = pd.read_csv("apt_comma.csv", encoding = 'cp949')

# idle에서는 print를 붙이지 않아도 출력되지만, 프로그램에서는 print를 붙여주지 않으면 화면상에 아무런 결과물이 나타나지 않기 때문에 책과 다르게 print 명령어를 해주었습니다. 
# 자료 수 
print(len(df))

73152

In [16]:
# 자료 파악하기
print(df.head(),"\n\n\n")
print(df.tail())

           시군구   단지명       면적    계약년월  계약일      가격   층  건축년도          도로명
0  강원도 강릉시 견소동  송정한신   84.945  202002    2  15,700  12  1997  경강로2539번길 8
1  강원도 강릉시 견소동  송정한신   84.945  202002    5  13,500   5  1997  경강로2539번길 8
2  강원도 강릉시 견소동  송정한신   59.800  202002    5  11,500  13  1997  경강로2539번길 8
3  강원도 강릉시 견소동  송정한신  116.175  202002    6  20,000   6  1997  경강로2539번길 8
4  강원도 강릉시 견소동  송정한신   84.945  202002    7  14,000   7  1997  경강로2539번길 8



                시군구         단지명       면적    계약년월  계약일      가격   층  건축년도  \
73147  충청북도 충주시 호암동       호암동수채  84.9289  202002   27  17,500   2  2007
73148  충청북도 충주시 호암동  호암리버빌(1단지)  84.6800  202002    6  14,500   3  2002
73149  충청북도 충주시 호암동  호암리버빌(1단지)  84.6800  202002    8  14,500  10  2002
73150  충청북도 충주시 호암동  호암리버빌(1단지)  84.6800  202002   11  13,800  12  2002
73151  충청북도 충주시 호암동  호암리버빌(1단지)  84.6800  202002   13  12,000  12  2002

             도로명
73147  호암중앙1로 47
73148   원호암5길 32
73149   원호암5길 32
73150   원호암5길 32
73151   원호암5길 32

In [18]:
df

,시군구,단지명,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,송정한신,84.9450,202002,2,"15,700",12,1997,경강로2539번길 8
1,강원도 강릉시 견소동,송정한신,84.9450,202002,5,"13,500",5,1997,경강로2539번길 8
2,강원도 강릉시 견소동,송정한신,59.8000,202002,5,"11,500",13,1997,경강로2539번길 8
3,강원도 강릉시 견소동,송정한신,116.1750,202002,6,"20,000",6,1997,경강로2539번길 8
4,강원도 강릉시 견소동,송정한신,84.9450,202002,7,"14,000",7,1997,경강로2539번길 8
...,...,...,...,...,...,...,...,...,...
73147,충청북도 충주시 호암동,호암동수채,84.9289,202002,27,"17,500",2,2007,호암중앙1로 47
73148,충청북도 충주시 호암동,호암리버빌(1단지),84.6800,202002,6,"14,500",3,2002,원호암5길 32
73149,충청북도 충주시 호암동,호암리버빌(1단지),84.6800,202002,8,"14,500",10,2002,원호암5길 32
73150,충청북도 충주시 호암동,호암리버빌(1단지),84.6800,202002,11,"13,800",12,2002,원호암5길 32
73151,충청북도 충주시 호암동,호암리버빌(1단지),84.6800,202002,13,"12,000",12,2002,원호암5길 32