In [1]:
#반복을 이용한 리스트 생성
aa=[]
for i in range(0,100):
    aa.append(0)
len(aa)

100

## aa[]에 2의 배수를 100개
## bb[]는 aa[]리스트의 역순

In [7]:
aa = []
bb = []
value = 0

for i in range(0,100):  #100개
    aa.append(value)
    value +=2  #2의 배수
    
for i in range(0,100):
    bb.append(aa[99-i])
    
print("bb[0]에는 %d이 , bb[99]에는 %d이 입력됩니다"%(bb[0],bb[99]))

bb[0]에는 198이 , bb[99]에는 0이 입력됩니다

## aa[]에 3의 배수를 200개
## bb[]는 aa[]리스트의 역순

In [6]:
aa = []
bb = []
value = 0

for i in range(0,200): #200개
    aa.append(value)
    value +=3  #3의 배수
    
for i in range(0,200):
    bb.append(aa[199-i])
    
print("bb[0]에는 %d이 , bb[199]에는 %d이 입력됩니다"%(bb[0],bb[199]))

bb[0]에는 597이 , bb[199]에는 0이 입력됩니다

## 리스트 메소드 함수
## 리스트 접근

In [8]:
aa=[10,20,30,40]
#  0   1   2   3
#  -4  -3 -2 -4
#리스트 음수로도 접근 가능    

print("aa[-1]은 %d,aa[-2]는 %d"%(aa[-1],aa[-2]))

aa[-1]은 40,aa[-2]는 30

In [9]:
print("%s"%aa[0:3])
print("%s"%aa[2:4])
print("%s"%aa[2:])
print("%s"%aa[:2])

[10, 20, 30]
[30, 40]
[30, 40]
[10, 20]

In [13]:
import numpy as np
a = np.array([10,20,30])
b = np.array([40,50,60])
a * b

array([ 400, 1000, 1800])

In [14]:
aaa=[10,20,30,40,50,60,70]
print("%s"%aaa[::2])
print("%s"%aaa[::-2])
print("%s"%aaa[::-1])
print("%s"%aaa[::])

[10, 30, 50, 70]
[70, 50, 30, 10]
[70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70]

## 리스트 값 변경

In [15]:
aa=[10,20,30,40]
aa[1]=200
aa

[10, 200, 30, 40]

In [16]:
aa=[10,20,30,40]
aa[1:2]=[200,201]
aa
##20 하나를 200 201로 바꾸어라라는 뜩
#리스트의 한 칸이 늘어난다

[10, 200, 201, 30, 40]

In [17]:
aa=[10,20,30,40]
aa[1:3]=[200,201]
aa
##20과 30 두개를 200과 201로 바꾸어라
## >> 이래서 리스트 교체시 범위 설정을 잘해줘야한다

[10, 200, 201, 40]

In [18]:
aa=[10,20,30,40]
aa[1]=[200,201]
aa
#리스트형으로 바꾸고 싶다면 인덱스 하나를 지정해서 바꿔준다

[10, [200, 201], 30, 40]

## 리스트 삭제

In [19]:
aa=[10,20,30,40]
del(aa[1])
aa

[10, 30, 40]

In [20]:
aa=[10,20,30,40,50]
aa[1:4] = []
aa

[10, 50]

In [21]:
aa=[]
aa
#리스트의 값이 없다

[]

In [22]:
aa=None
aa
## aa라는 리스트(메모리)가 할당은 되어있지만 값이 없다

In [23]:
del(aa)
aa
##aa라고하는 메모리를 지웠기 떄문에 오류가 뜬다

NameError: name 'aa' is not defined

### 리스트 조작 메소드 함수 기본적인것만 알기

In [1]:
List=[30,20,10]
print("1.리스트:%s"%List)

List.append(40)
print("2.append(40)후의 리스트:%s"%List)


print("2.리스트에서 pop()으로 추출한 값:%s"%List.pop())
print("2.리스트에서 pop()으로 추출후의 값:%s"%List)

List.sort()
print("3.List.sort()후의 리스트:%s"%List)

List.reverse()
print("4.List.reverse()후의 리스트:%s"%List)

print("List.index(20) >> 20값의 위치:%s"%List.index(20))


List.insert(2,222)
print("5.insert(2,222)후의 리스트:%s"%List)

List.remove(222)
print("6.remove(222)후의 리스트:%s"%List)

List.extend([77,88,77])
print("7.extend([77,88,77]후의 리스트:%s"%List)

print("77값의 개수:%d"%List.count(77))

len(List)
print("8.len(List)>> 리스트의 길이를 아는 메소드:%s"%len(List))

1.리스트:[30, 20, 10]
2.append(40)후의 리스트:[30, 20, 10, 40]
2.리스트에서 pop()으로 추출한 값:40
2.리스트에서 pop()으로 추출후의 값:[30, 20, 10]
3.List.sort()후의 리스트:[10, 20, 30]
4.List.reverse()후의 리스트:[30, 20, 10]
List.index(20) >> 20값의 위치:1
5.insert(2,222)후의 리스트:[30, 20, 222, 10]
6.remove(222)후의 리스트:[30, 20, 10]
7.extend([77,88,77]후의 리스트:[30, 20, 10, 77, 88, 77]
77값의 개수:2
8.len(List)>> 리스트의 길이를 아는 메소드:6

In [2]:
List=[30,10,20]
newList = sorted(List)
print("sorted()후의 List:%s"%List)
print("sorted()후의 newList:%s"%newList)

#sort는 원본을 바꾸고
#sorted는 새로운 리스트에 정렬된 리스트를 저장한다

sorted()후의 List:[30, 10, 20]
sorted()후의 newList:[10, 20, 30]

## 교수님 강조
## 2차원 리스트

In [3]:
## >> 코드 이해하기
list1 = []
list2 = []
value = 1
for i in range(0,3):
    for k in range(0,4):
        list1.append(value)
        value+=1
    list2.append(list1)
    list1 = []
        
for i in range(0,3):
    for k in range(0,4):
        print("%3d"%list2[i][k],end="")
    print("")

  1  2  3  4
  5  6  7  8
  9 10 11 12

## 4행5열의 2차원 리스트
## 0부터 3의 배수

In [4]:
## >> 코드 이해하기
list1 = []
list2 = []
value = 0
for i in range(0,4):
    for k in range(0,5):
        list1.append(value)
        value=value+3
    list2.append(list1)
    list1 = []
        
for i in list2:  #list2[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
    for k in i:       ##최초의 i = [1,2,3,4]
        print("%3d"%k,end="")
    print("")

  0  3  6  9 12
 15 18 21 24 27
 30 33 36 39 42
 45 48 51 54 57

## 문자열을 저장하였다가 출력하는 프로그램

In [1]:
names = []
 
while True:
    name = input("강아지의 이름을 입력하시오 (종료는 엔터키) : ")
    if name == '':
        break
    names.append(name)
 
print("강아지들의 이름 : ")
 
for i in range(len(names)):
    print(names[i], end=", ")

강아지의 이름을 입력하시오 (종료는 엔터키) : 뱔이
강아지의 이름을 입력하시오 (종료는 엔터키) : 도훈
강아지의 이름을 입력하시오 (종료는 엔터키) : 하민
강아지의 이름을 입력하시오 (종료는 엔터키) :
강아지들의 이름 :
뱔이, 도훈, 하민,

## 리스트의 복사
## 무조건 TEST

In [65]:
#얕은 복사 : 리스트가 메모리 공간 공유
oldList=['짜장면','탕수육','군만두']
newList = oldList #두 리스트가 메모리 공간 공유
print("%s"%newList)
oldList[0] = '짬뽕'
oldList.append('깐풍기')
print("%s"%newList)

['짜장면', '탕수육', '군만두']
['짬뽕', '탕수육', '군만두', '깐풍기']

In [66]:
#얕은 복사 : 리스트가 메모리 공간 공유
oldList=['짜장면','탕수육','군만두']
newList = oldList[:] #[:]메모리 공간을 복사해서 새로 만듦
print("%s"%newList)
oldList[0] = '짬뽕'
oldList.append('깐풍기')
print("%s"%newList)

['짜장면', '탕수육', '군만두']
['짜장면', '탕수육', '군만두']

# 리스트를 이용한 스택 구현

# 튜플
## >>리스트는 [] 튜플은 소괄호 ()로 생성
## 튜플은 값 수정X (읽기 전용 자료)

In [28]:
tt1 = (10,20,30)
tt1

(10, 20, 30)

In [29]:
tt2 = 10,20,30
tt2

(10, 20, 30)

In [30]:
tt3=(10);
tt3

10

In [31]:
tt4=10
tt4

10

In [32]:
## 튜플은 소괄호 생략 가능 >> tt5 tt6처럼 쉼표, 붙임
tt5=(10,)
tt5

(10,)

In [33]:
tt6=10,
tt6

(10,)

## 튜플의 오류

## >>TEST

# 즉 튜플의 값을 삭제하는것은 불가하지만
# 튜플 자체 할당 메모리를 삭제하는것은 가능하다

In [34]:
## 튜플은 읽기만 가능하고 수정은 불가능하기 떄문에 append 실행시 오류가 뜬다
tt1.append(40)
tt1[0] = 40
del(tt1[0])

AttributeError: 'tuple' object has no attribute 'append'

In [35]:
#하지만 del(tt1)은 할당된 해당 변수를 삭제하는것이기 떄문에 가능하다
tt1 = (10,20,30)
del(tt1)
tt1

##tt1가 삭제되었으니 오류가 뜬다

NameError: name 'tt1' is not defined

In [36]:
tt1=(10,20,30,40)
tt1[0]  #10
tt1[0] + tt1[1] + tt1[2]

60

In [37]:
tt1=(10,20,30,40)
tt1[1:]

(20, 30, 40)

In [38]:
tt1[:3]

(10, 20, 30)

## 튜플의 덧셈 및 곱셈 연산

In [39]:
tt2 = ('A','B')
tt1 + tt2

(10, 20, 30, 40, 'A', 'B')

In [40]:
tt2 * 3

('A', 'B', 'A', 'B', 'A', 'B')

## 2차원 튜플

In [41]:
## SELF STUDY 7-4  IDEA
## idea 튜플을 바로 만들수가 없으니
## 리스트를 만들어서 튜플로 변환을 한다

## >>튜플 → 리스트 → 튜플 변환

In [42]:
myTuple = (10,20,30)
myList = list(myTuple)
myList.append(40)
myTuple = tuple(myList)
myTuple

(10, 20, 30, 40)

# 딕셔너리
## 중괄호로 생성

In [43]:
s = {"학번":1000,"이름":"홍길동","학과":"컴퓨터학과"}
s

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [44]:
#항목 추가
s['연락처'] = '01055261387'
s

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '01055261387'}

In [45]:
#항목 수정
s['학과'] = '파이썬학과'
s

{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과', '연락처': '01055261387'}

In [46]:
#항목 삭제
del(s['학과'])
s

{'학번': 1000, '이름': '홍길동', '연락처': '01055261387'}

In [50]:
s['학번']

1000

In [49]:
s.get('이름')

'홍길동'

In [51]:
s.keys()

dict_keys(['학번', '이름', '연락처'])

In [52]:
list(s.keys())

['학번', '이름', '연락처']

In [53]:
s.values()

dict_values([1000, '홍길동', '01055261387'])

In [54]:
s.items()

dict_items([('학번', 1000), ('이름', '홍길동'), ('연락처', '01055261387')])

In [56]:
'이름' in s

True

In [57]:
singer = {}

singer['이름'] = '트와이스'
singer['구성원 수 '] = 9
singer['데뷔'] = '서바이벌 식스틴'
singer['대표곡'] = 'SiGNAL'

for k in singer.keys():
    #print('%s --> %s'%(k,singer[k]))
    print('%s --> %s'%(k,singer.get(k)))  #get을 쓰면 더 안전!

이름 --> 트와이스
구성원 수  --> 9
데뷔 --> 서바이벌 식스틴
대표곡 --> SiGNAL

In [58]:
list(singer.keys())

['이름', '구성원 수 ', '데뷔', '대표곡']

## 키로 정렬한 후 딕셔너리 추출

In [59]:
import operator

transDic,trainList = {},[]

trainDic = {'Thomas':'토마스','Edward':'에드워드','Henry':'헨리','Gothen':'고든','James':'제임스'}
trainList = sorted(trainDic.items(),key = operator.itemgetter(0))

print(trainList)

[('Edward', '에드워드'), ('Gothen', '고든'), ('Henry', '헨리'), ('James', '제임스'), ('Thomas', '토마스')]

## 음식 조합(궁합)

In [ ]:
foods={"떡볶이":"오뎅",
      "짜장면":"단무지",
      "라면":"김치",
      "피자":"피클",
      "맥주":"땅콩",
      "치킨":"치킨무",
      "삼겹살":"상추"};
## foods 딕셔너리 생성!

while(True):
    myfood = input(str(list(foods.keys()))+"중 좋아하는 음식은?")
    if myfood in foods:
        print("<%s> 궁합 음식은 <%s>입니다." %(myfood,foods.get(myfood)))
    elif myfood == "끝":
        break
    else:
        print("그런 음식이 없습니다 확인해보세요")

## 딕셔너리의 값을 클래스 객체로 만들기

In [ ]:
# 연락처 클래스 만들기
class Contact:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
 
    def print_info(self):
        print(f"이름 : {self.name}, 나이 : {self.age}, 성별 : {self.gender}")
 
 
# 딕셔너리 생성과 동시에 키,값 하나 세팅
d = {'kim': Contact('kim', 29, 'man')}
 
# 딕셔너리에 클래스 객체를 값으로 추가1
p1 = Contact('park', 43, 'woman')
d[p1.name] = p1
 
# 딕셔너리에 클래스 객체를 값으로 추가2
p2 = Contact('blockdmask', 20, 'man')
d['blockdmask'] = p2
 
# 딕셔너리에 클래스 객체를 값으로 추가3
d['lee'] = Contact('lee', 35, 'woman')
 
 
 
# 출력1 : 딕셔너리 키 출력
print('1. Keys')
print(d.keys())
 
# 출력2 : 딕셔너리 값 출력
print()
print('2. Values')
for k in d.keys():
    d[k].print_info()

## set
# 키만 모아 놓은 딕셔너리의 특수한 형태
# 딕셔너리의 키는 중복되면 안 되므로 세트에 들어 있는 값은 항상 유일
# 세트를 생성하려면 딕셔너리처럼 중괄호 { } 사용하지만 : 없이 값을 입력
# 중복된 키는 자동으로 하나만 남음

In [61]:
set1 = {1,2,3,3,3,4}
set1

{1, 2, 3, 4}

In [62]:
setList = {'삼각김밥','바나나','도시락','삼각김밥','삼각김밥','도시락','삼각김밥'}
set(setList)

{'도시락', '바나나', '삼각김밥'}

In [63]:
set1={1,2,3,4,5}
set2={4,5,6,7}
print("%s"%(set1 & set2))  #교집합
print("%s"%(set1 | set2))  #합집합
print("%s"%(set1 - set2))  #차집합
print("%s"%(set1 ^ set2))  #대칭 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

# 컴프리헨션
## 값이 순차적인 리스트를 한 줄로 만드는 간단한 방법

In [67]:
numList = []
for num in range(1,6):
    numList.append(num)
numList

[1, 2, 3, 4, 5]

In [68]:
#컴프리헨션
#컴프리헨션의 구성
#리스트 = [수식 for 항목 in range() if 조건식]
numList = [num for num in range(1,6)]
numList

[1, 2, 3, 4, 5]

In [69]:
#1~5의 제곱
numList = [num * num for num in range(1,6)]
numList

[1, 4, 9, 16, 25]

In [70]:
#1~20 숫자 중에서 3의 배수로만 리스트를 구성
numList = [num  for num in range(1,21) if num %3 ==0]
numList

[3, 6, 9, 12, 15, 18]

# zip

## zip함수를 이용하여 여러 리스트에 접근

In [71]:
foods = ['떡볶이','짜장면','라면','피자','맥주','치킨','삼겹살']
sides = ['오뎅','단무지','김치']
for food,side in zip(foods,sides):
    print(food, '-->',side)

떡볶이 --> 오뎅
짜장면 --> 단무지
라면 --> 김치

## 두리스트를 튜플이나 딕셔너리로 짝지을 떄 zip함수를 이용

In [72]:
foods = ['떡볶이','짜장면','라면','피자','맥주','치킨','삼겹살']
sides = ['오뎅','단무지','김치']
tupList = list(zip(foods,sides))
dic = dict(zip(foods,sides))
print("%s"%tupList)
print("%s"%dic)

[('떡볶이', '오뎅'), ('짜장면', '단무지'), ('라면', '김치')]
{'떡볶이': '오뎅', '짜장면': '단무지', '라면': '김치'}